.form__input-container {
  margin: 0;
  padding: 0 0 18px;
  width: 358px;
  border: 0;
}

@media screen and (max-width: 620px) {
  .form__input-container {
    width: 238px;
    padding-bottom: 15px;
  }
}
