.place__item {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content max-content;
  row-gap: 25px;
  align-items: center;
  background-color: #fff;
  padding-bottom: 31px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  box-sizing: border-box;
}
